<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="traceeditor.PerspectiveTraceEditorFactory"
            fixed="true"
            id="com.marianogili.TraceEditorPerspective"
            name="TraceEditor">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.marianogili.TraceEditor"
            name="TraceEditor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="traceeditor.TraceEditor"
            default="false"
            extensions="traceabilityeditordiagram"
            id="com.marianogili.TraceEditor.editor"
            name="TraceEditor">
      </editor>
   </extension>

</plugin>
