<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.marianogili.traceeditor.presentation.TraceeditorModelWizardID"
            name="%_UI_TraceeditorModelWizard_label"
            class="com.marianogili.traceeditor.presentation.TraceeditorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TraceeditorModelFile.gif">
         <description>%_UI_TraceeditorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.marianogili.traceeditor.presentation.TraceeditorEditorID"
            name="%_UI_TraceeditorEditor_label"
            icon="icons/full/obj16/TraceeditorModelFile.gif"
            extensions="traceeditor"
            class="com.marianogili.traceeditor.presentation.TraceeditorEditor"
            contributorClass="com.marianogili.traceeditor.presentation.TraceeditorActionBarContributor">
      </editor>
   </extension>

</plugin>
